<div class="container card p-3 mb-3">
  <div class="row">

    <ng-container *ngIf="isCardNav">

      <div class="col-8">
        <!-- Course title -->
         <h6>{{ cardContent !== null? cardContent.title: null}} </h6>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <!-- Course image -->
        <ng-container *ngIf="cardContent?.image == 'manageUser'">
          <span class="material-symbols-outlined card-icon">
            group
          </span>
        </ng-container>
        <ng-container *ngIf="cardContent?.image == 'manageCourse'">
          <span class="material-symbols-outlined card-icon">
            menu_book
          </span>
        </ng-container>
        <ng-container *ngIf="cardContent?.image == 'monitoring'">
          <span class="material-symbols-outlined card-icon">
            monitoring
          </span>
        </ng-container>
        <ng-container *ngIf="cardContent?.image == 'deleteCourse'">
          <span class="material-symbols-outlined card-icon">
            delete
          </span>
        </ng-container>
        <ng-container *ngIf="cardContent?.image == 'editCourse'">
          <span class="material-symbols-outlined card-icon">
            edit_square
          </span>
        </ng-container>
        <ng-container *ngIf="cardContent?.image == 'createCourse'">
          <span class="material-symbols-outlined card-icon">
            add_box
          </span>
        </ng-container>
        <ng-container *ngIf="cardContent?.image == 'enrollUser'">
          <span class="material-symbols-outlined card-icon">
            group_add
          </span>
        </ng-container>
      </div>

    </ng-container>

    <ng-container *ngIf="isCourseCard">

      <div class="col-8">
        <!-- Course title -->
         <h6>{{ cardContent !== null? cardContent.title: null}} </h6>
      </div>

      <div class="col-4
        d-flex
        justify-content-center
        course-image
        p-1">
        <!-- Course image -->
        <ng-container *ngIf="cardContent?.image === null || cardContent?.image === undefined; else courseImageAvailable">
          <img class="img-fluid" src="/assets/image/default-course-image.png" alt="">
        </ng-container>

        <ng-template #courseImageAvailable>
          <img class="img-fluid" [src]="imagePath" alt="">
        </ng-template>

      </div>

    </ng-container>

  </div>
</div>
