<div class="container card p-3 mb-3">
  <div class="row">

    <div class="col-8">
      <!-- Course title -->
       <h6>{{ cardContent !== null? cardContent.title: null}} </h6>
    </div>

    <div class="col-4 d-flex justify-content-center">
      <!-- Course image -->
      <ng-container *ngIf="cardContent?.image == 'group'">
        <span class="material-symbols-outlined">
          group
        </span>
      </ng-container>
      <ng-container *ngIf="cardContent?.image == 'menu_book'">
        <span class="material-symbols-outlined">
          menu_book
        </span>
      </ng-container>
      <ng-container *ngIf="cardContent?.image == 'monitoring'">
        <span class="material-symbols-outlined">
          monitoring
        </span>
      </ng-container>
    </div>

  </div>
</div>
