<div class="container">

  <div class="row py-4">
    <div class="col">
      <app-card
        [cardContent]="manageCourseLinks !== null? manageCourseLinks[0]: null"
        routerLink='/manage-course/create'>
      </app-card>
    </div>
  </div>

  <div class="row pb-4">
    <div class="col">
      <app-card [cardContent]="manageCourseLinks !== null? manageCourseLinks[1]: null"></app-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-card [cardContent]="manageCourseLinks !== null? manageCourseLinks[2]: null"></app-card>
    </div>
  </div>

</div>
